{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">{% block metadata %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff" />
    <meta name="author" content="@CCI" />
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="msapplication-TileImage" content="{% static 'eduklinikapp/images/favicon-32x32.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="manifest" href="/manifest.json/" crossorigin="use-credentials" />
    <link rel="search" type="application/opensearchdescription+xml" href="" title="">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'eduklinikapp/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'eduklinikapp/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'eduklinikapp/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'eduklinikapp/images/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'eduklinikapp/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'eduklinikapp/styles/responsive.css' %}">
    <title>{% block title %} {% endblock %} </title>
</head>
<body>

    <header class="ed_heder">
        <div class="logo_container" style="background-image: url(/eduklinikapp/static/eduklinikapp/images/ed_logo.png);">
        </div>
        <div class="hamburger-menu" id="hamburger_menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </div>
        <section class="responsive-dropdown">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/programs/#programs">Programs</a></li>
                    <li><a href="/online_school/" id="enrol_btn">Online-school</a></li>
                    <li><a href="#tutors">Tutors</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a class="contact_active" href="#footer">Contact-us</a></li>
                </ul>
            </nav>

            <div class="register_login">
                <button class="login">
                    <a href="#login">
                        Login
                    </a>
                </button>
                <button class="register">
                    <a href="#register">
                        Register
                    </a>
                </button>
            </div>
            <span class="remove_nav">*</span>
            <span class="menu_info">
                All rights reserved. <br>
                EDUKLINIK LEARNING NEXUS ,2025. <br> <br>
                <a style="color: rgb(136, 47, 115); text-decoration: underline;" href="">
                    Privacy policy
                </a>
                <a style="color:  rgb(136, 47, 115); text-decoration: underline;" href="">
                    Terms and conditions
                </a>
            </span> 

        </header>

    <main class="main_sect">
        {% block content %} 
        {% endblock %}
    </main>

    <footer id="footer">
        <div class="foot_about">
            <div></div>
            <p>
                At Eduklinik Learning Nexus, we are committed to transforming education through innovation and
                excellence.
                Explore our <a class="footer_link" href="#">consultancy services</a> and enroll in our flagship
                Eduklinik <a class="footer_link" href="#">Online School</a> to redefine
                your learning experience.
            </p>
        </div>
        <div class="foot_links">
            <h1>Quick links</h1>
            <ul>
                <li><span>&#10095;</span><a href="#top">Home</a></li>
                <li><span>&#10095;</span><a href="#" id="enrol_btn">Online-school</a></li>
                <li><span>&#10095;</span><a href="#">Login/Register</a></li>
                <li><span>&#10095;</span><a href="#blog">Our Blog</a></li>
                <li><span>&#10095;</span><a href="#">Events</a></li>
                <li><span>&#10095;</span><a href="#programs">consultancy</a></li>
            </ul>
        </div>
        <div class="subscriibe">
            <h1>Subscribe to our news letter</h1>
            <p>Get latest news , updates , tips and tricks in your inbox</p>
            <div>
                <input type="email" placeholder="E-mail" required>
                <button class="submit">
                    <a href="">Submit</a>
                </button>
            </div>
            <button class="call">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                </span>
                <a href="callto:+234 507 768">
                    Book a call
                </a>
            </button>
        </div>
        <div class="contacts">
            <h1>Contact us</h1>
            <div>
                <span>
                    <h2>Address</h2>
                    <p>Eduklinik HQ, Ilorin, Nigeria</p>
                </span>
                <span>
                    <h2>E-mail</h2>
                    <p><a href="mailto:info@eduklinik@gmail.com">info@eduklinik.com</a> &#10095;</p>
                </span>
                <span>
                    <h2>Phone</h2>
                    <p><a class="calling_footer" href="tel:+234 123 456 7890">+234 123 456 7890</a> &#10095;</p>
                </span>
            </div>
        </div>
    </footer>
    
</body>
</html>