{% extends 'base.html' %}
{% load static %}
{% block metadata %} {% endblock %}

{% block title %}Home - eduklinik{% endblock %}

{% block content %}

<style>

   .home-page{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
   }

   .hero-section{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #141414;
   }

   .hero-section h2{
    font-size: 2.5rem;
    box-sizing: border-box;
    text-align: center;
   }

   .hero_search{
    width: 60%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #373737;
   }

   .hero_search input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #666666d1;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #373737e7;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
     Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   

   .images{
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   }

   .images img{
    width: auto;
    height: 100%;
    min-width: 100%;
   }

   .explore_sect{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-image: url(/eduklinikapp/static/eduklinikapp/images/kids.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
   }

   .explore{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 300px;
    background-color: #0000008e;
    color: aliceblue;
    padding: 20px 30px;
   }

   .card_holder{
    width: 90%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    height: fit-content;
    margin: auto auto;
   }

   .ex_card{
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #fcb819c3;
   }

   .card_icon{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .card_icon img{
    width: auto;
    height: 100%;
    min-width: 100%;
   }

   .t_cource_sect{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    color: #000;
    min-height: 300px;
    padding: 20px 50px;
    background-color: #fff;
   }

   .t_cource_sect h2{
    font-size: 2rem;
    text-align: center;
    background-origin: border-box;
    overflow: hidden;
   }

   .course{
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-width: 100%;
   }

   .c_box{
    height: 350px;
    box-sizing: border-box;
    overflow: hidden;
    width: 260px;
    box-shadow: 0px 0px 10px #585656ec;
    border-radius: 20px;
   }

   .c_img{
    width: 100%;
    height: 45%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
   }

   .c_img img{
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 100%;
   }

   .title{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
    height: fit-content;
   }

   .title h1{
    font-size: 14px;
    color: #484848e1;
    margin: 5px 0px;
   }

   .title h2{
    font-size: 15px !important;
    text-align: left !important;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0px;
    height: 50px;
   }

   .time_check{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
   }

   .time_check span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 5px;
    width: calc(100% / 2.2);
    font-weight: 500;
    color: #5b5b5beb;
   }

   .time_check span svg{
    width: 15px;
    height: 15px;
   }

   .buttons{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .buttons a{
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    transition: .3s linear;
   }

   .buttons a:nth-child(1):hover{
    background-color:#320d2b;
    color: #fff;
   }

   .buttons a:nth-child(2):hover{
    border: 2px solid #320d2b;
    color: #320d2b;
    background-color: transparent;
   }

   .buttons a:nth-child(1){
    border: 2px solid #320d2b;
    color: #320d2b;
   }

   .buttons a:nth-child(2){
    background-color:#320d2b;
    color: #fff;
   }

   @media screen and (max-width:800px) {
    .card_holder{
        width: 100%;
    }
    
   }

   @media screen and (max-width:750px) {
    .hero-section h2{
        font-size: 1.5rem;
    }
    .images{
        margin-top: 40px;
    }
    .hero_search{
        width: 80%;
        height: 60px;
    }
    .hero_search input{
        font-size: 1rem;
    }
    .explore{
        padding: 10px;
    }
    .ex_card{
        width: 150px;
        height: 100px;
    }
    .card_icon{
        width: 25px;
        height: 25px;
    }
    .ex_card b{
        font-size: 12.5px;
    }
    .t_cource_sect{
        padding: 20px;
    }
    .course{
        padding: 12px;
    }
    .to_last_sect{
        padding: 10px !important;
    }
    .to_last_sect h2{
        font-size: 1rem !important;
    }
    .to_last_sect p{
        font-size: 14px;
    }
    .t_cource_sect h2{
        font-size: 1.2rem;
    }
   }

   @media screen and (max-width:500px) {
    .hero-section h2{
        font-size: 1.2rem;
        width: 95%;
    }
    .ex_card{
        width: 130px;
    }
    .ex_card b{
        font-size: 11.5px; 
    }
   }


    </style>

<div class="home-page">

    <section class="hero-section">
        <h2>
            Your Gateway to Skill-Building and Career Growth
        </h2>
        <a href="/search/" class="hero_search">
            <input type="text" placeholder=" What are you intrested in today" readonly>
        </a>

        <div class="images"> 
                <img src="{% static 'eduklinikapp/images/the_banner.svg' %}" alt="">
        </div>

    </section>

    <section class="explore_sect">
        <div class="explore">
            <h2>
                What you will explore
            </h2>
            <div class="card_holder">

                <div class="ex_card">
                    <span class="card_icon">
                        <img src="{% static 'eduklinikapp/images/english.png' %}" alt="">
                    </span>
                    <b>
                        English Language
                    </b>
                </div>

                <div class="ex_card">
                    <span class="card_icon">
                        <img src="{% static 'eduklinikapp/images/maths.png' %}" alt="">
                    </span>
                    <b>
                        Mathematics
                    </b>
                </div>

                <div class="ex_card">
                    <span class="card_icon">
                        <img src="{% static 'eduklinikapp/images/lang.png' %}" alt="">
                    </span>
                    <b>
                        Languages
                    </b>
                </div>

                <div class="ex_card">
                    <span class="card_icon">
                        <img src="{% static 'eduklinikapp/images/itech.png' %}" alt="">
                    </span>
                    <b>
                        IT
                    </b>
                </div>

                <div class="ex_card">
                    <span class="card_icon">
                        <img src="{% static 'eduklinikapp/images/school.webp' %}" alt="">
                    </span>
                    <b>
                        Online school
                    </b>
                </div>

                <div class="ex_card">
                    <span class="card_icon">
                        <img src="{% static 'eduklinikapp/images/pv.jpg' %}" alt="">
                    </span>
                    <b>
                        Private lesson
                    </b>
                </div>

                <div class="ex_card">
                    <span class="card_icon">
                        <img src="{% static 'eduklinikapp/images/file.png' %}" alt="">
                    </span>
                    <b>
                        Downloadable content
                    </b>
                </div>

            </div>
        </div>
    </section>

    <section class="t_cource_sect">
        <h2>
            Trending Courses
        </h2>

        <section class="sroola">
            <style>
                .sroola{
                    width: 100%;
                    height: fit-content;
                    box-sizing: border-box;
                    overflow-y: hidden;
                }
            </style>
            <article class="course">
                {% for course in pop_cur %}
        
                <div class="c_box">
                    <div class="c_img">
                        <img src="{{course.c_img.url}}" alt="">
                    </div>
        
                    <div class="title">
                        <h1>
                            {{course.course_name}}
                        </h1>
                        <h2>
                            {{course.meta_data}}
                        </h2>
                    </div>
                    <div class="time_check">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/></svg> {{course.pub_date|date:"Y-m-d"}}
                        </span>
        
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"/></svg> {{course.participant}} student
                        </span>
                    </div>
        
                    <div class="buttons">
                        <a href="">More info</a>
                        <a href="">Start Learning</a>
                    </div>
        
                </div>
                {% endfor %}
        
                </article>
        </section>

        <style>
            .all{
                width: 100%;
                height: fit-content;
                background-origin: border-box;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
            }
            .all a{
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                width: fit-content;
                height: fit-content;
                padding: 10px;
                border: 2px solid #320d2b;
                color: #320d2b;
                border-radius: 10px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                transition: .3s linear;
            }

            .all a:hover{
                background-color: #320d2b;
                color: #fff;
            }
        </style>
        <div class="all"> 
            <a href="/course/">Explore More course</a>
        </div>
    </section>

    <style>
        .to_last_sect{
            width: 100%;
            height: fit-content;
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 30px 20px;
            background-color: #e6e6e6;
        }

        .to_last_sect h2{
            font-size: 2rem;
        }
        .to_last_sect p{
            font-weight: 500;
        }

        .to_last_sect a{
           text-decoration: none;
            color: #320d2b;
            font-weight: 500;
        }

    </style>

    <section class="to_last_sect">
        <h2>
            Don't know where to start? or what to learn
        </h2>
        <p>
            Looking for a skills to start or course that you have been looking for
        </p>
        <br>
        <a href="">
            Explore now &rightarrow;
        </a>
    </section>

</div>
{% endblock %}