{% extends 'base.html' %}
{% load static %}
{% block metadata %} 

<meta name="description" content="" /> 
<link rel="canonical" href="https://mstream.com{{request.path_info}}" />               
<meta property="og:site_name" content="Eduklinik" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="https://mstream.com{% static 'streamapp/images/mstream_icon.png' %}" />
<meta property="og:locale" content="en_us" />
<meta property="og:url" content="https://mstream.com{{request.path_info}}" />
<meta name="twitter:site" content="@CCI" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:creator" content="@PythonMaster" />
<meta name="twitter:image" content="https://mstream.com{% static 'streamapp/images/mstream_icon.png' %}" />
<meta property="twiter:card" content="summary_large_image" />
<meta name="twitter:image:alt" content="mstreamapp logo" />
<link rel="stylesheet" href="{% static 'eduklinikapp/styles/responsive.css' %}">
<link rel="stylesheet" href="{% static 'eduklinikapp/styles/base.css' %}">
{% endblock %}

{% block title %}Home - eduklinik{% endblock %}

{% block content %}

<style>
    @media screen and (max-width:1100px) {
        .programns{
        width: 100% !important;
    }

        main {
        margin-left: 0 !important;
        top: 0 !important;
        height: auto !important;
        padding: 0rem !important;
    }
    .program_sect_1 {
        gap: 1rem !important;
        height: 60% !important;
        width: 100% !important;
        padding: 0rem 0.5rem !important;
        text-align: center !important;
        top: 2rem !important;
    }
    .program_sect_2 {
        height: 35%;
        width: 100%;
        top: -2rem;
    }
    .program_sect_2_logo{
        display: none !important;
    }
    .subscription {
        height: auto !important;
    }
        .tutors_content {
        width: 60%;
        height: calc(100% - 0%);
        gap: 0.4rem;
        padding: 0.5rem;
        box-shadow: none;
    }
    .tutors {
        margin-top: 3rem;
        height: auto;
        padding: 0.5rem;
    }
    .tutors > .tutor_left {
        width: 40%;
        height: auto;
        text-align: center;
        justify-content: center;
    }

    .person_text {
        height: calc(100% - 50%) !important;
        padding: 0.4rem;
        border-bottom-right-radius: 0rem;
        gap: 0.4rem;
    }
    .ceo{
        height: 400px;
    }
    .ceo_image {
        border: 2px solid var(--text-color2);
        height: 50%;
    }
    .choose{
        width: 100%;
        margin: 0px;
    }
    .blog > .blog_main {
        width: 100%;
        gap: 1rem;
    }
        .partners {
        width: 70%;
        height: 300px;
        gap: 1rem;
    }
    .partners > .partners_header{
        height: 15%;
        font-size: 1rem;
    }
    .partners_body{
        font-size: 1.5rem !important;
    }
    .contact_us {
        height: auto;
        width: 70%;
        box-shadow: none;
        border-radius: 1rem;
        border-left: 3px solid var(--text-color2);
        transition: border ease 0.3s;
        margin-bottom: 50px;
    }
    .our_programme{
        width: 100% !important;
    }
    footer > div:nth-child(3) > :nth-child(3) {
        flex-direction: column;
        width: 100% !important;
        gap: 0.5em !important;
        align-items: start;
    }
    .call, .submit{
        width: 100% !important;
    }
}

@media screen and (max-width:800px) {
    .tutors{
        flex-wrap: wrap;
        margin-top: 0px;
        height: auto;
    }
   .tutors > .tutor_left {
        width: 100% !important;
        height: 10%;
        flex-wrap: wrap;
        text-align: center;
} 
 .tutors_content {
        width: 100%;
        height: calc(100% - 10%);
        gap: 0.4rem;
        padding: 0.5rem;
        box-shadow: none;
    }
    .choose{
        height: auto !important;
        margin-bottom: 3rem !important;
    }
    .choose_content{
        height: calc(100% - 10%);
        height: auto;
    }
    .choose_text{
        width: 100% !important;
        height: 50% !important;
    }
        .choose_image {
        height: 400px;
        box-shadow: var(--box-shadow);
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .program_sect_1 > div h1, .program_sect_2 > em{
        font-size: 80%;
    }
    .program_sect_1 div span{
        font-size: 80% !important;
    }
    
    .program_sect_1 > p {
        font-size: 1rem;
        line-height: 1.7rem;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        /* text-align: center; */
        text-align: start;
    }
        .about_us {
        height: auto;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        text-align: center;
    }
        .vision_first_body > h2 {
        font-size: 100%;
    }
        .vision_first_body > p {
        font-size: 100%;
    }
        .subscription > small {
        font-size: 0.8rem;
    }
    .subscription > h1 {
        font-size: 1.5rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
       .subscription_divs > h1, .subscription_divs > p {
        font-size: 1.3rem;
    }
    .subscription_divs > h1, .subscription_divs > p {
        font-size: 1.3rem !important;
    } 
    .services_body_1_content, .services_body_2_content, .services_body_3_content, .services_body_4_content {
        gap: 1rem;
        padding: 1rem 2rem;
        height: calc(100% - 30%);
        flex-wrap: wrap;
    }
    .services_body_1_first, .services_body_1_second, .services_body_1_third, .services_body_1_four {
        width: 1200px;
        height: 400px;
        cursor: pointer;
        transition: 0.6s ease all;
        transform: scale(1);
    }
        .our_programme_comtent {
        grid-gap: 1.5rem;
        grid-template-columns: auto;
    }
    .gmi {
        width: auto;
    }
    .tutor_person {
        height: 400px;
        width: 80%;
        margin: 0 auto;
        box-shadow: var(--box-shadow);
        border-radius: 1rem;
    }
        .ceo_image {
        width: 60%;
        height: 50%;
    }
        .partners > .partners_header > h1 {
        font-size: 1.2rem;
    }
    .partners {
        width: 95%;
        height: 300px;
        gap: 1rem;
    }
        .contact_us {
        height: auto;
        width: 100%;
        box-shadow: none;
    }
}


</style>

            <section class="programs" id="Programs">
                <div class="program_sect_1">
                    <div>
                        <h1>Welcome to </h1>
                        <span class="text">Eduklinik Learning Nexus</span>
                    </div>
                    <p>At Eduklinik Learning Nexus, we are committed to transforming education through innovation and
                        excellence. <br>
                        Explore our consultancy services and enroll in our flagship Eduklinik Online School to redefine
                        your
                        learning experience.
                    </p>
                </div>
                <div class="program_sect_2">
                    <div class="program_sect_2_logo" style="background-image: url(/eduklinikapp/static/eduklinikapp/images/android-chrome-192x192.png);">
                    </div>
                    <em style="text-align: center;">"Innovating Education for Innovation"</em>
                    <button class="program-btn">
                        <a href="#programs">Explore Consultancy Services</a>
                        <span style="color: white;"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </span>
                    </button>
                    <button class="program-btn" id="enrol_btn2">
                        <a href="/new_user/">Enroll in Online School</a>
                        <span style="color: white;"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </span>
                    </button>
                </div>
            </section>
            <section class="about_us">
                <div class="our_vision">
                    <div class="our_vision_header">
                        <h1>About us</h1>
                    </div>
                    <div class="vision_first_body">
                        <h2>Our vision is to empower learners and educators through innovative strategies. </h2>
                        <p>To know more about
                            our history,
                            mission, and the dedicated team driving Eduklinik forward.
                        </p>
                        <button class="about_btn">
                            <a href="/eduklinikapp/blog_singles/what is Eduklinik learning Nexus.html">
                                Learn more
                            </a>
                            <span style="color: white;"> <svg xmlns="http://www.w3.org/2000/svg" width="20 " height="20"
                                    fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </section>
            <section class="subscription" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                <small>
                    Get started
                </small>
                <h1>
                    Subscribe to our packages
                </h1>
                <div class="subscription_content">
                    <div class="subscription_content1 subscription_divs">
                        <h1>Basic</h1>
                        <p>As a basic subscriber you have access to a one-off effect on the site. This excludes
                            mentorship and private lessons. </p>
                        <button><a href="/new_user/">Subscribe</a></button>
                    </div>
                    <div class="subscription_content2 subscription_divs">
                        <h1>Standard</h1>
                        <p>Get access to our modules and resourses as a standard subscriber .</p>
                        <button><a href="/new_user/">Subscribe</a></button>
                    </div>
                    <div class="subscription_content3 subscription_divs">
                        <h1>Premium</h1>
                        <p>Get access to our mentorship , private lessons and hands-on-deck practicals and real-time
                            updates. This includes private tutors assignments and many more.</p>
                        <button><a href="/new_user/">Subscribe</a></button>
                    </div>

                </div>
            </section>
            <section class="services">
                <div class="services_wrapper">
                    <div class="services_header">
                        <h1>Services</h1>
                        <span class="pointer"> 
                     
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </span>
                    </div>
                    <div class="services_content">
                        {% if core %}
                        <div class="services_body_1 slide_services">
                            <div class="services_body_1_header">
                                <h2>Core Academic Tracks</h2>
                            </div>
                            <div class="services_body_1_content">
                                {% for course in core %}
                                <div class="services_body_1_first services_div">
                                    <img class="services_images"
                                        src="{{course.c_img.url}}" alt="">
                                    <div class="services_texts">
                                        <div class="main_text">
                                            <span> Qualified tutors | Easy learning</span>
                                            <span>{{course.course_subject}}</span>
                                            <span>{{course.course_name}}</span>
                                        </div>
                                        <div class="student_comment">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"
                                                    fill="currentColor" class="bi bi-backpack2" viewBox="0 0 16 16">
                                                    <path
                                                        d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14" />
                                                    <path fill-rule="evenodd"
                                                        d="M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z" />
                                                    <path
                                                        d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v1.191l1.17.585a1.5 1.5 0 0 1 .83 1.342V13.5a1.5 1.5 0 0 1-1.5 1.5h-1c-.456.607-1.182 1-2 1h-7a2.5 2.5 0 0 1-2-1h-1A1.5 1.5 0 0 1 0 13.5v-2.382a1.5 1.5 0 0 1 .83-1.342L2 9.191V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0M3 13.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8A5 5 0 0 0 3 8zm-1-3.19-.724.362a.5.5 0 0 0-.276.447V13.5a.5.5 0 0 0 .5.5H2zm12 0V14h.5a.5.5 0 0 0 .5-.5v-2.382a.5.5 0 0 0-.276-.447L14 10.309Z" />
                                                </svg>
                                                <small>{{course.participant}} students</small>
                                            </span>
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"
                                                    fill="currentColor" class="bi bi-chat-left-dots"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                                    <path
                                                        d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                                </svg>

                                                <small>20</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if exam %}
                        <div class="services_body_2 slide_services">
                            <div class="services_body_2_header">
                                <h2>Examination Preparation</h2>
                            </div>
                            <div class="services_body_2_content">
                                {% for course in exam %}
                                <div class="services_body_1_first services_div">
                                    <img class="services_images"
                                        src="{{course.c_img.url}}" alt="">
                                    <div class="services_texts">
                                        <div class="main_text">
                                            <span> Qualified tutors | Easy learning</span>
                                            <span>{{course.course_subject}}</span>
                                            <span>{{course.course_name}}</span>
                                        </div>
                                        <div class="student_comment">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"
                                                    fill="currentColor" class="bi bi-backpack2" viewBox="0 0 16 16">
                                                    <path
                                                        d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14" />
                                                    <path fill-rule="evenodd"
                                                        d="M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z" />
                                                    <path
                                                        d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v1.191l1.17.585a1.5 1.5 0 0 1 .83 1.342V13.5a1.5 1.5 0 0 1-1.5 1.5h-1c-.456.607-1.182 1-2 1h-7a2.5 2.5 0 0 1-2-1h-1A1.5 1.5 0 0 1 0 13.5v-2.382a1.5 1.5 0 0 1 .83-1.342L2 9.191V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0M3 13.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8A5 5 0 0 0 3 8zm-1-3.19-.724.362a.5.5 0 0 0-.276.447V13.5a.5.5 0 0 0 .5.5H2zm12 0V14h.5a.5.5 0 0 0 .5-.5v-2.382a.5.5 0 0 0-.276-.447L14 10.309Z" />
                                                </svg>
                                                <small>{{course.participant}} students</small>
                                            </span>
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"
                                                    fill="currentColor" class="bi bi-chat-left-dots"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                                    <path
                                                        d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                                </svg>

                                                <small>20</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if skill %}
                        <div class="services_body_3 slide_services">
                            <div class="services_body_3_header">
                                <h2>Skill Development services</h2>
                            </div>
                            <div class="services_body_3_content">

                                {% for course in skill %}
                                <div class="services_body_1_first services_div">
                                    <img class="services_images"
                                        src="{{course.c_img.url}}" alt="">
                                    <div class="services_texts">
                                        <div class="main_text">
                                            <span> Qualified tutors | Easy learning</span>
                                            <span>{{course.course_subject}}</span>
                                            <span>{{course.course_name}}</span>
                                        </div>
                                        <div class="student_comment">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"
                                                    fill="currentColor" class="bi bi-backpack2" viewBox="0 0 16 16">
                                                    <path
                                                        d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14" />
                                                    <path fill-rule="evenodd"
                                                        d="M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z" />
                                                    <path
                                                        d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v1.191l1.17.585a1.5 1.5 0 0 1 .83 1.342V13.5a1.5 1.5 0 0 1-1.5 1.5h-1c-.456.607-1.182 1-2 1h-7a2.5 2.5 0 0 1-2-1h-1A1.5 1.5 0 0 1 0 13.5v-2.382a1.5 1.5 0 0 1 .83-1.342L2 9.191V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0M3 13.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8A5 5 0 0 0 3 8zm-1-3.19-.724.362a.5.5 0 0 0-.276.447V13.5a.5.5 0 0 0 .5.5H2zm12 0V14h.5a.5.5 0 0 0 .5-.5v-2.382a.5.5 0 0 0-.276-.447L14 10.309Z" />
                                                </svg>
                                                <small>{{course.participant}} students</small>
                                            </span>
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"
                                                    fill="currentColor" class="bi bi-chat-left-dots"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                                    <path
                                                        d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                                </svg>

                                                <small>20</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if spec %}
                        <div class="services_body_4 slide_services">
                            <div class="services_body_4_header">
                                <h2>Specialized services</h2>
                            </div>
                            <div class="services_body_4_content">
                                {% for course in core %}
                                <div class="services_body_1_first services_div">
                                    <img class="services_images"
                                        src="{{course.c_img.url}}" alt="">
                                    <div class="services_texts">
                                        <div class="main_text">
                                            <span> Qualified tutors | Easy learning</span>
                                            <span>{{course.course_subject}}</span>
                                            <span>{{course.course_name}}</span>
                                        </div>
                                        <div class="student_comment">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"
                                                    fill="currentColor" class="bi bi-backpack2" viewBox="0 0 16 16">
                                                    <path
                                                        d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14" />
                                                    <path fill-rule="evenodd"
                                                        d="M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z" />
                                                    <path
                                                        d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v1.191l1.17.585a1.5 1.5 0 0 1 .83 1.342V13.5a1.5 1.5 0 0 1-1.5 1.5h-1c-.456.607-1.182 1-2 1h-7a2.5 2.5 0 0 1-2-1h-1A1.5 1.5 0 0 1 0 13.5v-2.382a1.5 1.5 0 0 1 .83-1.342L2 9.191V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0M3 13.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8A5 5 0 0 0 3 8zm-1-3.19-.724.362a.5.5 0 0 0-.276.447V13.5a.5.5 0 0 0 .5.5H2zm12 0V14h.5a.5.5 0 0 0 .5-.5v-2.382a.5.5 0 0 0-.276-.447L14 10.309Z" />
                                                </svg>
                                                <small>{{course.participant}} students</small>
                                            </span>
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10"
                                                    fill="currentColor" class="bi bi-chat-left-dots"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                                    <path
                                                        d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                                </svg>

                                                <small>20</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    <div class="buttons">
                        <button class="btn1"><a href="#gr" onclick="showPrev()"
                                style="font-weight: 900;">&#10094;</a></button>
                        <button class="btn2"><a href="#gr" onclick="showNext()"
                                style="font-weight: 900;">&#10095;</a></button>
                    </div>
                </div>
            </section>
            <!-- this is the ending of the section for the programmes section -->
            <section class="our_programme" id="programs">
                <div class="our_programme_header">
                    <h1>Programs</h1>
                    <small>we aim to make studying <span>EASY</span> , <span>SIMPLE</span> and <span>ACCESSIBLE</span>
                        to everyone</small>
                </div>
                <div class="our_programme_comtent">
                    <div class="programmes programme1">
                        <span class="icon">
                            &#10042;
                        </span>
                        <h1>Staff Training and Professional Development</h1>
                        <p>Equipped with vast majority of doctorate degree staff holders . we offer tainings that helps
                            facilitate growth and development in diverse fields of professions</p>
                    </div>
                    <div class="programmes programme2">
                        <span class="icon">
                            &#10049;
                        </span>
                        <h1>School Assessment and Quality Assurance</h1>
                        <p>Equipped with vast majority of doctorate degree staff holders . we offer tainings that helps
                            facilitate growth and development in diverse fields of professions</p>

                    </div>
                    <div class="programmes programme3">
                        <span class="icon">
                            &#10048;
                        </span>
                        <h1>Examination Registration Services</h1>
                        <p>Equipped with vast majority of doctorate degree staff holders . we offer tainings that helps
                            facilitate growth and development in diverse fields of professions</p>

                    </div>
                    <div class="programmes programme4">
                        <span class="icon">
                            &#10050;
                        </span>
                        <h1>Digital Transformation Consultancy for Schools</h1>
                        <p>Equipped with vast majority of doctorate degree staff holders . we offer tainings that helps
                            facilitate growth and development in diverse fields of professions</p>
                    </div>
                    <div class="programmes programme5">
                        <span class="icon">
                            &#10047;
                        </span>
                        <h1>Corporate Training Programs</h1>
                        <p>Equipped with vast majority of doctorate degree staff holders . we offer tainings that helps
                            facilitate growth and development in diverse fields of professions</p>
                    </div>
                </div>
                <button class="gmi">
                    Get more info
                </button>
            </section>
            <!-- tutors section -->
            <section class="tutors" id="tutors">
                <div class="tutors-header">
                    <h1>Meet our professors</h1>
                </div>
                <div class="tutor_left">
                    <h1>Meet top tutors driving <span>EDUKLINIK</span>forward</h1>
                    <h2>&#10095;</h2>
                </div>
                <div class="tutors_content">
                    <div class="tutors_person1 tutor_person">
                        <img src="{% static 'eduklinikapp/images/staff3.jpg' %}" class="person_image" alt="This is an image">
                        <div class="person_text">
                            <b>Adebisi Bilikis</b>
                            <p>Board Member</p>
                            <h4>
                                After vast years in the field of education ,Mrs Balikis is a passion driven and a very
                                enthusiastic tutor with proficiency in intense educational delivery.
                            </h4>
                        </div>
                    </div>
                    <div class="tutors_person2 tutor_person">
                        <img src="{% static 'eduklinikapp/images/staff1.jpg' %}" class="person_image" alt="This is an image">
                        <div class="person_text">
                            <b>Mrs Saka Ganiyat</b>
                            <p>H.O.D Mathematics</p>
                            <h4>Mrs saka ganiyat is a self diven enthusiast who leverages her understanding on the vast
                                web of education into perfect delivery second to none.
                            </h4>
                        </div>
                    </div>
                    <div class="tutors_person3 tutor_person">
                        <img src="{% static 'eduklinikapp/images/staff2.jpg' %}" class="person_image" alt="This is an image">
                        <div class="person_text">
                            <b>Dev Adigun Folarinwa</b>
                            <p>H.O.D Programming</p>
                            <h4>Having held dinstinctive scores in masters and phd programmes . Dev Adigun is an
                                enthusiastic and talent driven software expert.

                            </h4>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ceo">
                <img class="ceo_image" src="{% static 'eduklinikapp/images/consultant.jpg' %}" alt="">
                <div class="ceo_text">
                    <h1>Mr Sanni Olawale Kazeem</h1>
                    <h2>Educational consultant</h2>
                    <h3 style="text-align: center;">CEO and FOUNDER <br>(EDUKLINIK LEARNING NEXUS)</h3>
                </div>
            </section>
            <section class="choose">
                <div class="choose_header">
                    <h1>Why choose us ?</h1>
                </div>
                <div class="choose_content">
                    <div class="choose_text">
                        <div>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                </svg>
                            </span>
                            <span>
                                Experienced and qualiffied Teachers
                            </span>
                        </div>
                        <!-- second -->
                        <div>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                </svg>
                            </span>
                            <span>
                                21st century teaching approach
                            </span>
                        </div>
                        <!-- third -->
                        <div>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                </svg>
                            </span>
                            <span>
                                Best subscription plans
                            </span>
                        </div>
                        <!-- fourth -->
                        <div>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                </svg>
                            </span>
                            <span>
                                Best online teaching assistant courses.
                            </span>
                        </div>
                        <!-- fifth -->
                        <div>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                </svg>
                            </span>
                            <span>
                                Educational Resources as you want.
                            </span>
                        </div>
                        <!-- sixth -->
                        <div>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                </svg>
                            </span>
                            <span>
                                Expansion of knowledge
                            </span>
                        </div>
                    </div>
                    <img src="{% static 'eduklinikapp/images/23technologies.jpg' %}" class="choose_image" alt="">
                </div>
            </section>

            <section class="blog" id="blog">
                <div class="blog_header">
                    <small>Our Blog</small>
                    <h1>Get latest News and Stories</h1>
                </div>
                <div class="blog_main">
                    {% for post in home_blog %}
                    <div class="blog_main_container">
                        <img src="{{post.image.url}}" class="blog_post_image" alt="This is an image">
                        <div class="blog_post_text">
                            <h2>{{post.title}}</span></h2>
                            <h3>{{post.meta}}</h3>
                            <a class="read_more" href="blog.html">Read more</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <button class="explore_more">
                    <a href="/blog">
                        Explore more
                    </a>
                    <span>
                        <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg>
                    </span>
                </button>
            </section>

            <!-- section for the partners comes next -->
            <section class="partners">
                <div class="partners_header">
                    <h1>Partners & Service Providers</h1>
                </div>
                <div class="partners_body">
                    <div class="partners_1">ACESS B<em>ank</em></div>
                    <div class="partners_2" style="color: var(--main-color);">DARIL-FAHIL</div>
                    <div class="partners_3" style="color: var(--main-color);">VISA</div>
                    <div class="partners_4">UNIILORIN</div>
                    <div class="partners_5">MIMS</div>
                </div>
                <button class="partners_btn">
                    <a href="mailto:info@eduklinik@gmail.com">
                        Book a call
                    </a>
                </button>
            </section>
            <!-- this is the end of the partners section The contact section follows below -->
            <section class="contact_us">
                <div class="contact_us_header">
                    <h1>Message us</h1>
                    <h2>We're more than happy to hear from you and receive your suggestions</h2>
                </div>
                <div class="contact_us_content">
                    <label for="name">
                        <input type="text" placeholder="Fullname">
                    </label>
                    <label for="subject">
                        <input type="text" placeholder="Subject">
                    </label>
                    <label for="email">
                        <input type="email" placeholder="E-mail">
                    </label>
                    <textarea name="messade" id="Message" cols="30" rows="10" placeholder="Message"></textarea>
                    <button class="message">
                        <a href="#">
                            Send message
                        </a>
                    </button>
                </div>
            </section>

{% endblock %}