<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online school loading page</title>
    <link rel="stylesheet" href="/stylesheet/load.css">
    <link rel="stylesheet" href="/stylesheet/responsive.css">
</head>

<body class="load_body">
    <div class="sect_1">
        <div class="scroll_btn_containers">
            <button id="scroll_1"></button>
            <button id="scroll_2"></button>
            <button id="scroll_3"></button>
        </div>
        <img src="/images/businessman-working-tablet-removebg-preview.png" alt="this is an image">
        <h2>
            Expansion in knowledge and skills
        </h2>
        <p>
           Designed to provide a wide range of courses , resources and tools to help you achieve your goals.
        </p>
        <button class="get_started">
            <a href="#sect_2">
                NEXT
            </a>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </span>
        </button>
    </div>
    <div class="sect_2" id="sect_2">
        <div class="scroll_btn_containers">
            <button id="scroll_1"></button>
            <button id="scroll_2"></button>
            <button id="scroll_3"></button>
        </div>
        <img src="/images/small-school-girl-using-digital-tablet-removebg-preview.png" alt="this is an image">
        <h2>
            Immersion in the world of knowledge.
        </h2>
        <p>
            Our assignments will help you sharpen your knowledge of maths, languages,history,science and many more.
        </p>
        <button class="get_started">
            <a href="#sect_3">
                NEXT
            </a>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </span>
        </button>
    </div>
    <div class="sect_3" id="sect_3">
        <div class="scroll_btn_containers">
            <button id="scroll_1"></button>
            <button id="scroll_2"></button>
            <button id="scroll_3"></button>
        </div>
        <img src="/images/imageapp10.png" alt="this is an image">
        <h2>
           Your partner in learning and growth.
        </h2>
        <p>
           We're are excited to have you join our communiity of learners and and education. Please log in to access your courses, track your progress and connect with others
        </p>
        <button class="get_started">
            <a href="/eduklinikapp/online_school.html">
                Get started
            </a>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </span>
        </button>
    </div>
</body>

</html>