<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz app</title>
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
    <section class="quiz_container">
        <h1>Simple Quiz</h1> 
        <div class="question">
            <h2>1. Which is the largest animal in the world?</h2>
            <div class="answer_buttons">
                <button class="btns">
                    shark   
                </button>
                <button class="btns">
                    whale
                </button>
                <button class="btns">
                    Dolphin
                </button>
                <button class="btns">
                    Elephant
                </button>
            </div>
        </div>
        <button class="next">
            <a href="">
                Next
            </a>
        </button>
        <!-- the indepted -->
    </section>
    <script src="quiz.js"></script>
    <script src="main.js"></script>
</body>
</html>