{% extends 'base.html' %}
{% load static %}
{% block metadata %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'eduklinikapp/styles/online_school.css' %}">
<link rel="stylesheet" href="{% static 'eduklinikapp/styles/responsive.css' %}">
<link rel="stylesheet" href="{% static 'eduklinikapp/styles/base.css' %}">
{% endblock %}

{% block title %} search section {% endblock %}

{% block content %}

<style>
    header{
        display: none !important;
    }
    footer{
        display: none !important;
    }
    .search_body{
        padding: 0px !important;
    }
    @media screen and (max-width:750px) {
        .no_re{
        font-size: 1.2rem;
        margin-bottom: 20px;
        }
    }
</style>
    <div class="search_body">
        <div class="search_container">
            <span class="rotate_back">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </span>
            <form method="post" class="search_sect">
                {% csrf_token %}
                <style>
                    form{
                        gap: 0px !important;
                        display: flex;
                        align-items: center;
                        flex-direction: row !important;
                    }
                </style>
                <input type="search" class="search_input" name="search_bar" placeholder="Search for anything here" style="color: #000 !important;">
                <span id="search_instructor">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </span>
            </form>
        </div>

        <div class="search_results">
            <h5>
                Search results for . <b>"{{search_query}}"</b>
            </h5>

            <style>
                .csearch_body > div {
                    height: 360px;
                    background-color: var(--text-white);
                    box-shadow: var(--box-shadow);
                    border-radius: 0.5rem;
                    min-width: 260px;
                    max-width: 300px;
                    display: block;
                    position: relative;
                    color: var(--text-black);
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                }
                .box_image_container {
                    height: 50%;
                    width: 100%;
                    background-color: gray;
                    border-top-left-radius: 0.4rem;
                    border-top-right-radius: 0.4rem;
                }
                .box_text{
                    font-size: 14px;
                }
            </style>

            <div class="popular_searches">
                <div class="popular_searches_header">
                    <h3>
                        Course Searches.
                    </h3>
                </div>

                <style>
                    .csearch_body {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1rem;
                        width: 100%;
                        height: fit-content;
                        box-sizing: border-box;
                        overflow: hidden;
                        flex-wrap: wrap;
                        padding: 10px;
                    }
                </style>

                {% if results %}

                <div class="csearch_body">
                    {% for course in results %}
                    <div class="boxes">
                        <div class="box_image_container">
                            <img class="box_image" src="{{course.c_img.url}}" alt="">
                        </div>
                        <div class="box_text">
                            <span id="category">
                                {{course.course_subject.sub_name}}
                            </span>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">{{course.pub_date|date:"Y-m-d"}}</small> by <small id="uploader">{{course.up_by.name}}</small>
                                </small>
                            </div>
                            <h2 id="Topic">
                                {{course.meta_data}}
                            </h2>
                            <div class="time_learners">
                                <div class="time">
                                </div>
                                <div class="learners">
                                    &#10012;
                                    <span>
                                        {{course.participant}} Learners
                                    </span>
                                </div>
                            </div>
                            <div class="more_start">
                                <button class="more">
                                    <a href="/course/single/{{course.c_str}}">
                                        More info
                                    </a>
                                </button>
                                <button class="start">
                                    <a href="/payment/pay/{{course.c_str}}" style="color: #fff;">
                                        Start learning
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}

                <h2 class="no_re">
                    No results found
                </h2>
                {% endif %}
            </div>


            <div class="popular_searches">
                <div class="popular_searches_header">
                    <h3>
                        Books and Others search.
                    </h3>
                </div>

                <style>
                    .csearch_body {
                        display: flex !important;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1rem;
                        width: 100%;
                        height: fit-content;
                        box-sizing: border-box;
                        overflow: hidden;
                        flex-wrap: wrap;
                    }
                </style>

                {% if book_results %}
                <div class="csearch_body">
                    <style>
                        .csearch_body div{
                            font-size: 14px;
                        }
                        .csearch_body div > h4{
                            font-size: 1.2rem;
                        }
                    </style>
                    {% for lesson in book_results %}
                    <!-- the following is materials file boxes -->
                    <div class="materials_boxes" style="color: #000;">
                        {% if lesson.class_level is not None %}
                        <span class="file_subject">
                            {{lesson.class_level}}
                        </span>
                        {% else %}

                        {% endif %}
                        <img id="lesson_thumbnail" src="{{lesson.lesson_img.url}}">
                        <div class="material_box_content">
                            <h4 class="subject">
                                {{lesson.under_course.course_name}}
                            </h4>
                            <h5 class="file_name">
                               {{lesson.ltitle}}
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">{{lesson.pub_date|date:"Y-m-d"}}</small> by <small id="uploader">{{lesson.add_by.name}}</small>
                                </small>
                            </div>
                            <div style="font-weight: 500;">
                                Type: {{lesson.attribute}}
                            </div>
                            <br>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                {% else %}
                <h2 class="no_re">
                    No results found
                </h2>
                {% endif %}
            </div>
            
            
            <div class="popular_searches">
                <div class="popular_searches_header">
                    <h3>
                        Blog Searches.
                    </h3>
                </div>

                <style>
                    .csearch_body {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1rem;
                        width: 100%;
                        height: fit-content;
                        box-sizing: border-box;
                        overflow: hidden;
                        flex-wrap: wrap;
                    }
                </style>

                {% if blog_results %}
                <div class="csearch_body">
                    {% for i in blog_results %}
                    <div class="blog_body_post_1 blog_body_post">
                        <div class="blog_body_post_image blog_body_post_image_1" style="background-image: url({{i.image.url}});">
                        </div>
                        <div class="blog_body_post_text">
                            <a href="">
                                <h2>
                                   {{i.title}}
                                </h2>
                            </a>
                            <p>
                                <a href="">
                                    {{i.context}}
                                </a>
                            </p>
                            <div>
                                <span>
                                    <p>
                                       Posted on: {{i.pub_date}}
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}

                <h2 class="no_re">
                    No results found
                </h2>
                {% endif %}
            </div>

        </div>
    </div>


    <section class="fixed_bottom_navbar">
        <span>
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path
                        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
            </a>
            <small>
                <a href="/" style="color: var(--main-color); font-size:.7rem ;">
                    Home
                </a>
            </small>
        </span>
        <span>
            <a href="/course/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-award-fill" viewBox="0 0 16 16">
                    <path
                        d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z" />
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z" />
                </svg>
            </a>
            <small>
                <a href="/course/" style="color: var(--main-color); font-size:.7rem ;">
                    Courses
                </a>
            </small>
        </span>
        <!-- <span>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
                  </svg>
            </a>
            <small>
                <a href="/eduklinikapp/" style="color: var(--main-color); font-size:.7rem ;">
                    Post
                </a>
            </small>
        </span> -->
        <span>
            <a href="/search/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </a>
            <small>
                <a href="/search/" style="color: var(--main-color); font-size:.7rem ;">
                    Search
                </a>
            </small>
        </span>
        <span>
            <a href="/dashboard/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-database-fill-dash" viewBox="0 0 16 16">
                    <path
                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1M8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1" />
                    <path
                        d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12 12 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7m6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.55 4.55 0 0 1 .23-2.002m-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-1.3-1.905" />
                </svg>
            </a>
            <small>
                <a href="/dashboard/" style="color: var(--main-color); font-size:.7rem ;">
                    Dashboard
                </a>
            </small>
        </span>
    </section>
    <script src="{% static 'eduklinikapp/scripts/onlineschool.js/' %}"></script>
{% endblock %}