<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online school </title>
    <link rel="stylesheet" href="/stylesheet/online_school.css">
    <link rel="stylesheet" href="/stylesheet/responsive.css">
</head>

<body>
    <aside id="aside">
        <header class="aside_header">
            <h1>
                EDUKLINIK ONLINE SCHOOL
            </h1>
            <span id="remove_aside">
                X
            </span>
        </header>
        <ul>
            <li>
                <a href="/eduklinikapp/online_school.html">
                    Home
                </a>
                <span>
                    &#10095;
                </span>
            </li>
            <li>
                <a href="/eduklinikapp/online_school/profile.html">
                    My profile
                </a>
                <span>
                    &#10095;
                </span>
            </li>
             <li>
                <a href="">
                    Dashboard
                </a>
                <span>
                    &#10095;
                </span>
            </li>
            <li>
                <a href="/eduklinikapp/online_school/about_onlineschool.html">
                    About us
                </a>
                <span>
                    &#10095;
                </span>
            </li>
            <li>
                <a href="">
                    Contact us
                </a>
                <span>
                    &#10095;
                </span>
            </li>
            <li>
                <a href="/eduklinikapp/online_school/rate_us.html">
                    Rate us
                </a>
                <span>
                    &#10095;
                </span>
            </li>
        </ul>
        <section class="nav_end">
            <div class="log_out">
                <a href="">
                    Log out
                </a>
                <span>
                    &#11122;
                </span>
            </div>
            <div class="Support">
                <a href="">
                    Support
                </a>
                <span>
                    &#11122;
                </span>
            </div>
        </section>
    </aside>

    <!-- the section that foloows is the section for the main part of the stuff -->

    <main id="top">
        <section class="main-header">
            <div class="menu">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </span>
              <img class="home_image" src="/images/header_logo.png" alt="" width="40px">
            </div>
            <div class="main_header_search">
                <input type="search" placeholder="What are you looking for?...">
                <button class="search">
                    <a id="searchfunction" href="/eduklinikapp/search.html">
                        Search
                    </a>
                </button>
            </div>
            <div class="main_header_end">
                <div class="activated">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="search_svg" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </div>
                <div class="user">
                    <span id="display_profile">
                        <img id="profile_image" class="user_image" src="/images/esther.jpg">
                    </span>
                    <div class="myprofile">
                        <h1>
                            My profile &#10091;
                        </h1>
                        <span class="remove_profile">
                            X
                        </span>
                        <img id="profile_image" src="/images/esther.jpg" alt="Profile image is here" width="100px"
                            height="100px" style="border-radius: 50%;">
                        <div class="profile_info">
                            <span>
                                <b>
                                    Name:
                                </b> Oloruntimileyin Esther
                            </span>
                            <span>
                                <b>
                                    Gender:
                                </b> Female
                            </span>
                            <span>
                                <b>
                                    Age:
                                </b> 23
                            </span>
                            <span>
                                <b>
                                    Discipline:
                                </b> Student
                            </span>
                            <span>
                                <b>
                                    id:
                                </b> 10
                            </span>
                            <span>
                                <b>
                                    Hobbies:
                                </b> Reading , Dancing and painting
                            </span>
                        </div>
                        <button class="edit_profile">
                            <a href="">
                                Edit profile &#10095;
                            </a>
                        </button>
                    </div>
                </div>
                <div class="notifications">
                    &#10011;
                </div>
            </div>
        </section>
        <section class="materials_child_body">
            <courses class="nav">
                <button class="course_nav_btn">
                    <a href="/eduklinikapp/online_school.html">
                        Courses
                    </a>
                </button>
                <span style="color: var(--main-color); font-weight: 900;">
                    &#10095;
                </span>
                <span style="color: var(--main-color); font-weight: 900;">
                    &#10095;
                </span>
                <button class="course_nav_btn">
                    <a href="/eduklinikapp/lessonnotes/lesson.html">
                        lesson notes
                    </a>
                </button>
            </courses>
            <div class="materials_sub_body" >
                <div class="materials_sub_body_header">
                    <h1 style="color:var(--text-black);">
                        Search for your lesson notes here.
                    </h1>
                </div>
                <div class="lesson_notes_search">
                    <input type="search" placeholder="Search for lesson notes here">
                    <button id="lesson_notes_search_btn">
                        Search
                    </button>
                </div>
                <div class="materials_sub_body_content">
                    <!-- the following is the section for each boxes -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                            JAMB
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                Chemistry
                            </h4>
                            <h5 class="file_name">
                                Introduction to organic chemistry
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!-- the following is materials file boxes -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                            WAEC
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                BIOLOGY
                            </h4>
                            <h5 class="file_name">
                                Introduction to the Ecosystem
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!-- the following is materials file boxes -->
                    <div class="materials_boxes">
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h5 class="file_name">
                                English
                            </h5>
                            <h5 class="file_name">
                                parts of speech
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                            BECE
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                               Social Studies
                            </h4>
                            <h5 class="file_name">
                                Drug Abuse
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!-- the following is materials file boxes -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                            WAEC
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                History
                            </h4>
                            <h5 class="file_name">
                                Pre-colonial Hausa/Fulani traditional society
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h5 class="file_name">
                                English
                            </h5>
                            <h5 class="file_name">
                                Idioms
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                           JAMB
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                Literature
                            </h4>
                            <h5 class="file_name">
                                The lion and the Jewel
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                           Common entrance
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                English
                            </h4>
                            <h5 class="file_name">
                                Letter writing
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--The following is the boxes for the boxes that is having no   -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                            WAEC
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                              English
                            </h4>
                            <h5 class="file_name">
                                Figures of speech
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                            Common Entrance
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                Mathematics
                            </h4>
                            <h5 class="file_name">
                                Open sentences
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                CRS
                            </h4>
                            <h5 class="file_name">
                                Pauls missionary
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                            JAMB
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h5 class="file_name">
                                History
                            </h5>
                            <h5 class="file_name">
                              Thge fall of the singhai empire
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                pysics
                            </h4>
                            <h5 class="file_name">
                               motion
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="materials_boxes">
                        <span class="file_subject">
                            WAEC
                        </span>
                        <img id="lesson_thumbnail" src="/images/googleimage4.webp">
                        <div class="material_box_content">
                            <h4 class="subject">
                                Government
                            </h4>
                            <h5 class="file_name">
                                The LEGISLATURE.
                            </h5>
                            <div class="poster_date">
                                <small>
                                    Uploaded on <small id="upload_time">09-02-2025</small> by <small id="uploader">Mr Ojo
                                        Temitope</small>
                                </small>
                            </div>
                            <button class="download">
                                <a href="" download="download">
                                    Download file
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <button class="next_page" style=" display: flex; justify-content: center; align-items: center; width: 50%; margin: 0 auto; padding: 1rem; background-color: var(--text-black); border-radius: .4rem; border: none; outline: none; cursor: pointer; color: var(--text-white);">
                    NEXT &#11122;
                </button>
            </div>
        </section>
        <div class="back_to_top" style="z-index:100000;">
            <a class="rotate_to_top" href="#top">
                &#10095;
            </a>
        </div>
        <section class="online_footer">
            <div class="online_footer_header">
                <h1>
                    <span
                        style="box-shadow: 4px 0px 6px var(--main-color);color: var(--main-color); margin-right: .3rem; border-radius: .3rem;">
                        &#10015;
                    </span>
                    EDUKLINIK
                </h1>
                <span>
                    All rights reserved. &copy;2025 .
                    <span>
                        EDUKLINIK LEARNING NEXUS
                    </span>
                </span>
            </div>
            <div class="footer_nav">
                <ul class="contact">
                    <h1>
                        Contact us
                    </h1>
                    <li>
                        &#13333967; 234 ,Lagos-Ilorin, Ilorin , Nigeria.
                    </li>
                    <li>
                        <b>
                            Email us :
                        </b>
                        info@eduklinik.com
                    </li>
                    <li>
                        <b>
                            Call us :
                        </b>
                        +234-7077-456-4321
                    </li>
                </ul>
                <ul class="links_ref">
                    <h1>Quick links</h1>
                    <li>
                        <a href="/eduklinikapp/online_school.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/eduklinikapp/courses/courseshome.html">
                            Courses
                        </a>
                    </li>
                    <li>
                        <a href="/eduklinikapp/quiz/quiz_search.html">
                            Partake Quizzes
                        </a>
                    </li>
                    <li>
                        <a href="">
                            support center
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Privacy policies
                        </a>
                    </li>
                </ul>
                <ul class="subscribe_news">
                    <h1>Subscribe</h1>
                    <li>
                        Subscribe to our news letter to stay updated and be the first to receive our news and
                        notifications
                    </li>
                    <input type="email" placeholder="E-mail">
                    <button type="submit">
                        subscribe
                    </button>
                </ul>
            </div>
        </section>
    </main>
    <section class="fixed_bottom_navbar">
        <span>
            <a href="/eduklinikapp/online_school.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-shop"
                    viewBox="0 0 16 16">
                    <path
                        d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z" />
                </svg>
            </a>
            <small>
                <a href="/eduklinikapp/online_school.html" style="color: var(--text-black); font-size:.7rem ;">
                    Home
                </a>
            </small>
        </span>
        <span>
            <a href="/eduklinikapp/courses/courseshome.html">
                <svg xmlns="http://www.w3.org/500/svg" width="16" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0M1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0" />
                    <path
                        d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm6 8.73V7.27l-3.5 1.555v4.35zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1" />
                    <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6M7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                </svg>
            </a>
            <small>
                <a href="/eduklinikapp/courses/courseshome.html" style="color: var(--text-black); font-size:.7rem ;">
                    Courses
                </a>
            </small>
        </span>
        <span>
            <a href="/eduklinikapp/search.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
            </a>
            <small>
                <a href="/eduklinikapp/search.html" style="color: var(--main-color); font-size:.7rem ;">
                   Search
                </a>
            </small>
        </span>
        <span>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0" />
                    <path
                        d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z" />
                </svg>
            </a>
            <small>
                <a href="/eduklinikapp/" style="color: var(--text-black); font-size:.7rem ;">
                    Dashboard
                </a>
            </small>
        </span>
    </section>

    <script src="/eduklinikapp/onlineschool.js"></script>
</body>