/* base styling */

body{
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    text-decoration: none;
  }

:root {
    --main-color: #832e80;
    --text-color: linear-gradient(
      to bottom,
      rgb(131, 46, 128),
      hsl(42, 60%, 48%)
    );
    --background-color: #e7e7e7;
    --text-color2: #c49831;
    --text-color3: rgb(72, 72, 72);
    --text-black: black;
    --font-size: 100%;
    --font-size2: 200%;
    --font-very-bold: 900;
    --font-bold: 600;
    --box-shadow: 1px 3px 5px #000000;
    --box-shadow2: 1px 20px 5px #000000, 2px 4px 0px #0a0e12;
    --text-shadow: 0px 0px 1px black;
  }

  
  .logo_container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: block;
    position: relative;
    height: 100%;
    width: 20%;
  }
  .hamburger-menu {
    display: none;
  }
  .responsive-dropdown {
    display: flex;
    position: relative;
    width: 100%;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0rem 1rem;
  }
  nav,
  .register_login {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
  }
  nav ul {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0px;
  }
  nav > ul > li > a {
    color: var(--text-black);
  }
  .remove_nav {
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 90%;
    color: var(--background-color);
  }
  .register_login {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    width: 50%;
    gap: 1rem;
  }
  .menu_info {
    color: white;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.5rem;
    margin: none;
    display: none;
  }
  .register,
  .login {
    width: 30%;
    padding: 0.8rem 0rem;
    border: none;
    outline: none;
    background: var(--text-color2);
    border-radius: 2rem;
  }
  .register a,
  .login a {
    color: var(--background-color);
  }


  footer {
    height: 350px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: var(--main-color);
    top: 0.5rem;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
  }
  footer > div:first-child,
  footer > div:nth-child(2),
  footer > div:nth-child(3),
  footer > div:nth-child(4) {
    width: 100%;
    color: var(--background-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    /* background-color: cadetblue; */
    position: relative;
  }
  footer > div:first-child > div {
    background: url(/images/header_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    height: 40%;
    width: 100%;
    box-shadow: none;
  }
  footer > div:first-child > p {
    line-height: 1.3rem;
  }
  footer > div:first-child > p > a {
    text-decoration: underline;
    font-family: monospace;
  }
  footer > div:nth-child(2) > h1,
  footer > div:nth-child(3) > h1,
  footer > div:nth-child(4) > h1 {
    font-size: 1.5rem;
    color: var(--text-color2);
    text-shadow: 0px 0px 5px var(--main-color);
  }
  footer > div:nth-child(2),
  footer > div:nth-child(3),
  footer > div:nth-child(4) {
    gap: 1rem;
  }
  footer > div:nth-child(2) > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: 100%;
  }
  footer > div:nth-child(2) > ul > li > a {
    margin: 0rem 0.7rem;
  }
  footer > div:nth-child(2) > ul > li > a {
    color: var(--background-color);
  }
  footer > div:nth-child(2) > ul > li > a:hover,
  footer > div:nth-child(2) > ul > li > a:active,
  footer > div:nth-child(2) > ul > li > a:focus {
    text-decoration: underline;
    transition: 0.6s ease all;
  }
  footer > div:nth-child(3) > p {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
  }
  footer > div:nth-child(3) > :nth-child(3) {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    gap: 0.2rem;
    align-items: center;
  }
  footer > div:nth-child(3) > :nth-child(3) > input {
    height: 40px;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 70%;
  }
  footer > div:nth-child(3) > :nth-child(3) > input::placeholder {
    color: var(--text-black);
  }
  .submit {
    width: 30%;
    padding: 0.5rem;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: black;
  }
  .call {
    width: 50%;
    margin: 0 auto;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--text-color2);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    display: flex;
  }
  .submit > a,
  .call > a {
    color: var(--background-color);
    font-weight: bold;
  }
  footer > div:nth-child(4) > :nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  footer > div:nth-child(4) > :nth-child(2) > span:nth-child(2) > p > a {
    color: var(--text-color2);
  }
  footer > div:nth-child(4) > :nth-child(2) > span > p {
    color: var(--text-color2);
    font-weight: bolder;
  }
  footer > div:nth-child(4) > :nth-child(2) > span:nth-child(2) > p:hover {
    transform: scale(1.2);
    transition: all 0.6s ease;
    transform: translatex(20px);
  }
  .calling_footer {
    color: var(--text-color2);
  }
  .footer_link {
    color: var(--text-color2);
    font-family: sans-serif;
  }



  main {
    display: block;
    height: fit-content;
    width: 100%;
    padding-top: 3rem !important;
    /* background-color: rgb(45, 42, 37); */
    padding: 1rem 1rem;
  }
  main > .programs {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 550px;
    width: 100%;
    background: var(--main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .program_sect_1 {
    height: 100%;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 2rem;
    right: 100%;
    transition: all 0.8s ease;
  }
  .program_intersect {
    right: 0;
    transition: all 0.8s ease;
  }
  .program_sect_1 > div > h1 {
    font-size: 2rem;
    color: var(--background-color);
    position: relative;
  }
  .program_sect_1 div {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    width: auto;
    overflow: hidden;
    transition: all 0.6s ease;
  }
  .program_sect_1 > div > span {
    color: var(--text-black);
    font-size: 2.5rem;
    font-weight: 900;
    position: relative;
  }
  .program_sect_1 span:before {
    content: "";
    background: var(--main-color);
    border-left: 2px solid var(--background-color);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    animation: animate 4s steps(15) infinite;
  }
  @keyframes animate {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
  .program_sect_1 > p {
    font-size: 1.6rem;
    color: var(--background-color);
    /* text-shadow: var(--text-shadow); */
  }
  .program_sect_2 {
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(20, 2, 2); */
    gap: 1rem;
    left: 100%;
    transition: 0.6s all ease;
  }
  .program_intersect_2 {
    left: 0;
    transition: 0.6s all ease;
  }
  .program_sect_2_logo {
    
    background-repeat: no-repeat;
    background-size: contain;
    height: 30%;
    width: 50%;
    display: block;
    position: relative;
    margin: 0 auto;
  }
  .program-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    background: var(--text-color2);
    box-shadow: var(--box-shadow);
    /* background: transparent; */
  }
  .program-btn:hover,
  .program-btn:active,
  .program-btn:focus,
  .program-btn > span:hover,
  .program-btn > span:active,
  .program-btn > span:focus {
    transform: scale(1.1);
    transform: translatex(20px);
    transition: all 0.6s ease;
  }
  .program-btn > a {
    color: var(--background-color);
  }
  .program-btn > span {
    color: var(--text-black);
    font-weight: 900;
    font-size: 1.2rem;
  }
  .program_sect_2 > em {
    color: white;
    font-size: 1.4rem;
  }
  .about_us {
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .our_vision {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .our_vision_header {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -2.5rem;
  }
  .our_vision_header > h1 {
    font-size: 2rem;
    padding: 0.4rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
  }
  .vision_first_body > h2 {
    font-size: 1.7rem;
    font-family: sans-serif;
  }
  .vision_first_body > p {
    font-size: 1.1rem;
  }
  .vision_first_body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    gap: 1rem;
    font-family: sans-serif;
  }
  .vision_first_body > .about_btn {
    height: 40px;
    background: var(--text-color2);
    border: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .vision_first_body > .about_btn > a {
    color: var(--background-color);
  }
  .video {
    height: 500px;
    width: 80%;
    border: 5px solid var(--main-color);
    border-radius: 1rem;
    margin: 1rem auto;
    background-color: var(--text-black);
    position: relative;
    display: block;
    right: 150%;
  }
  .video_intersect {
    right: 0;
    transition: all 0.6s ease;
  }
  video {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px var(--text-black);
  }
  /* this is the section for the login and signup sections */
  /* wahala self fit dey with this signup and login section , because now i been dey say maybe make we no use the homepage again as the first thing wey peple go dey see if they visit the site . i want make e be say na from the loader section first go dey show then the section wey go get next next and get started na him go be the next screen wey go dey visible for the site . So if all this things go dey work then e mean say the login javascript and the signup javascript no go dey function again .So na the koko  */
  /* you get baa? */
  /* How far confirm 50k transfer for your bank, sharrrpppp */ 
  
  .form {
    position: absolute;
    display: none;
    top: 100%;
    left: 100%;
    background-color: var(--text-color2);
    height: 100vh;
    width: 30%;
    z-index: 10000;
  }
  .login-show {
    display: block;
    left: 70%;
  }
  form {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  form > h1 {
    color: var(--background-color);
    font-size: 2rem;
  }
  form > span {
    position: absolute;
    display: flex;
    top: 0;
    color: var(--background-color);
    cursor: pointer;
    width: 10%;
    align-items: center;
    justify-content: center;
    left: 88%;
    font-size: 2rem;
    margin-top: 1rem;
  }
  form > input {
    width: 80%;
    height: 40px;
    outline: 0;
    padding: 0rem 1rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-bottom-right-radius: 2px solid var(--main-color);
    border-top-left-radius: 2px solid var(--main-color);
  }
  form > input::placeholder {
    color: var(--background-color);
  }
  form > input:active,
  form > input:focus {
    outline: 2px solid var(--main-color);
    transition: all ease 0.3s;
    color: var(--background-color);
  }
  .formBtn_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 80%;
  }
  .formBtn {
    width: 60%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 2rem;
    background: var(--text-color);
    box-shadow: var(--box-shadow);
  }
  .formBtn > a {
    color: var(--background-color);
    font-weight: bold;
  }
  small > a {
    text-decoration: underline;
  }
  form > h3,
  .sect-2 > h4 {
    font-weight: lighter;
    font-size: var(--font-size);
    color: var(--background-color);
  }
  form > h3 > a {
    text-decoration: underline;
    font-size: 1rem;
  }
  .form_2 {
    position: absolute;
    display: none;
    top: 100%;
    background-color: var(--text-color2);
    width: 40%;
    height: 100vh;
    left: 60%;
  }
  .register_show {
    display: block;
    transition: all 0.6s ease;
  }
  .date {
    color: var(--background-color);
    text-transform: capitalize;
  }
  .gender {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 1rem;
    color: var(--background-color);
  }
  .form_2_register {
    height: auto;
    width: 40%;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    background: var(--text-color);
    box-shadow: var(--box-shadow);
  }
  .form_2_register > a {
    color: var(--background-color);
  }
  .form_2 > form > h3 {
    color: var(--background-color);
  }
  /* services */
  
  .services {
    height: 550px;
    width: 100%;
    display: block;
    position: relative;
    background-color: var(--main-color);
    padding: 0.6rem;
    left: 150%;
    transition: all 0.6s ease;
  }
  .service_intersect {
    left: 0;
    transition: all 0.6s ease;
  }
  .services_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
  }
  .services_header {
    height: 10%;
    width: auto;
    padding: 0.5rem;
  }
  .services_header > h1 {
    color: var(--text-black);
    font-size: 2rem;
  }
  .services_content {
    height: calc(100% - 20%);
    width: 80%;
    /* background-color: rgb(56, 51, 51); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    left: 150%;
  }
  
  .services_content::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
  .services_body_1,
  .services_body_2,
  .services_body_3,
  .services_body_4 {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
  }
  .services_body_1_header,
  .services_body_2_header,
  .services_body_3_header,
  .services_body_4_header {
    height: 10%;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .services_body_1_header > h2,
  .services_body_2_header > h2,
  .services_body_3_header > h2,
  .services_body_4_header > h2 {
    color: var(--background-color);
  }
  .services_body_1_content,
  .services_body_2_content,
  .services_body_3_content,
  .services_body_4_content {
    height: calc(100% - 10%);
    width: 100%;
    /* background-color: darkgoldenrod; */
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }
  .services_div {
    width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .services_body_1_first,
  .services_body_1_second,
  .services_body_1_third,
  .services_body_1_four {
    width: 1200px;
    height: 100%;
    cursor: pointer;
    transition: 0.6s ease all;
  }
  .services_body_1_first:hover,
  .services_body_1_first:active,
  .services_body_1_second:hover,
  .services_body_1_second:active,
  .services_body_1_third:hover,
  .services_body_1_third:active,
  .services_body_1_four:hover,
  .services_body_1_four:active {
    transform: scale(1.05);
    transition: all 0.6s ease;
  }
  .services_images {
    height: 50%;
    width: 100%;
  }
  .services_images4 {
    background: url(/images/mathematics.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images1 {
    background: url(/images/person_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images3 {
    background: url(/images/images.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images2 {
    background: url(/images/person_sq_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images5 {
    background: url(/images/background7.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images6 {
    background: url(/images/babcock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images7 {
    background: url(/images/waec.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images8 {
    background: url(/images/jamb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images9 {
    background: url(/images/skyheight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images10 {
    background: url(/images/FB_IMG_1712222077897.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images11 {
    background: url(/images/googleimage8.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images12 {
    background: url(/images/pexels-kampus-production-5940713.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images13 {
    background: url(/images/googleimage9.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images14 {
    background: url(/images/Screenshot_20240519-224709.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images15 {
    background: url(/images/mountain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_images16 {
    background: url(/images/forcadoz.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .services_texts {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }
  .main_text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .main_text span:nth-child(2n) {
    color: var(--main-color);
    font-weight: 900;
  }
  .student_comment {
    display: flex;
    justify-content: space-between;
    color: var(--text-color3);
    width: 100%;
    position: relative;
    align-items: center;
  }
  .student_comment > span > small {
    font-size: 1rem;
    font-family: monospace;
    font-weight: 400;
  }
  .services_texts_pop_in {
    background-color: var(--text-black);
    height: 50%;
    position: absolute;
    display: none;
    align-items: center;
    flex-direction: column;
    color: var(--background-color);
    width: 100%;
    top: 50%;
    left: 100%;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    animation: animatepopin 0.4s ease;
    transform: scale(0);
  }
  @keyframes animatepopin {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(0.7);
    }
    40% {
      transform: scale(0.8);
    }
    60% {
      transform: scale(0.9);
    }
    80% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
  .services_texts_pop_in_show {
    display: flex;
    transform: scale(1);
    left: 0;
  }
  .services_texts_pop_in:nth-child(1n) {
    color: var(--background-color);
  }
  .services_texts_pop_in > h4 > a {
    color: var(--text-color2);
    font-weight: 400;
    font-size: 1rem;
    text-decoration: underline;
  }
  .services_texts_pop_in > h4 {
    font-size: 2rem;
  }
  .buttons {
    height: auto;
    /* background-color: var(--text-black); */
    padding: 1rem;
    display: flex;
    position: relative;
    gap: 0.4rem;
  }
  .buttons > button {
    height: auto;
    border: 0;
    outline: 0;
    padding: 0.5rem 1rem;
    background: var(--text-color2);
  }
  .buttons > button > a {
    color: var(--background-color);
  }
  
  /*  programmes styling */
  .our_programme {
    height: auto;
    display: block;
    width: 95%;
    margin: 0 auto;
    position: relative;
  }
  .our_programme > .our_programme_header {
    height: 20%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }
  .our_programme > .our_programme_header > h1 {
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 2.5rem;
  }
  .our_programme > .our_programme_header > small {
    font-size: large;
    font-weight: 550;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .our_programme > .our_programme_header > small > span {
    color: var(--text-color2);
  }
  .our_programme_comtent {
    height: calc(100% - 20%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    position: relative;
    padding: 0.6rem;
  }
  .programmes {
    height: 230px;
    width: auto;
    background-color: transparent;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: .4rem;
  }
  .programmes > p {
    font-size: 0.8rem;
  }
  .programmes > .programmes_buttons {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    /* background-color:red; */
  }
  .programmes > .programmes_buttons > button {
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    position: relative;
    cursor: pointer;
    gap: 0.5rem;
    border-radius: .4rem;
  }
  .programmes > .programmes_buttons > button:active,
  .programmes > .programmes_buttons > button:focus,
  .programmes > .programmes_buttons > button:hover {
    transform: translatex(20px);
    transition: all 0.6s linear;
  }
  .programme1 {
    background-color: var(--main-color);
    color: var(--background-color);
    box-shadow: none;
  }
  .programme1 > .programmes_buttons > button:first-child,
  .programme1 > .programmes_buttons > button:first-child > a,
  .programme1 > .programmes_buttons > button:nth-child(2),
  .programme1 > .programmes_buttons > button:nth-child(2) > a {
    background-color: var(--text-black);
    color: var(--background-color);
  }
  .programme2 > .programmes_buttons > button:first-child,
  .programme5 > .programmes_buttons > button:first-child,
  .programme2 > .programmes_buttons > button:first-child > a,
  .programme5 > .programmes_buttons > button:first-child > a,
  .programme2 > .programmes_buttons > button:nth-child(2),
  .programme2 > .programmes_buttons > button:nth-child(2) > a,
  .programme5 > .programmes_buttons > button:nth-child(2),
  .programme5 > .programmes_buttons > button:nth-child(2) > a {
    background-color: var(--text-color2);
    color: var(--background-color);
  }
  .programme3 > .programmes_buttons > button:first-child,
  .programme3 > .programmes_buttons > button:first-child > a,
  .programme3 > .programmes_buttons > button:nth-child(2),
  .programme3 > .programmes_buttons > button:nth-child(2) > a {
    background-color: var(--main-color);
    color: var(--background-color);
  }
  .programme3 {
    background-color: var(--text-color2);
    color: var(--background-color);
    box-shadow: none;
  }
  .programme4 {
    background-color: var(--text-black);
    color: var(--background-color);
    box-shadow: none;
  }
  .programme4 > .programmes_buttons > button:first-child,
  .programme4 > .programmes_buttons > button:first-child > a,
  .programme4 > .programmes_buttons > button:nth-child(2),
  .programme4 > .programmes_buttons > button:nth-child(2) > a {
    background-color: var(--background-color);
    color: var(--text-black);
  }
  .programme4 > .programmes_buttons > button {
    color: var(--text-black);
  }
  
  /* styling the tutors */
  
  .tutors {
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 2rem;
    /* background-color: var(--main-color); */
  }
  .tutors-header {
    height: 60px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -2.5rem;
  }
  .tutors-header > h1 {
    font-size: 2rem;
    font-family: sans-serif;
  }
  .tutors > .tutor_left {
    height: 100%;
    width: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    color: var(--background-color);
    align-items: center;
    /* background-color: var(--text-color2); */
    gap: 0.4rem;
    padding: 1rem;
  }
  .tutors > .tutor_left > h1 {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: var(--text-black);
  }
  .tutors > .tutor_left > h1 > span {
    color: var(--text-color2);
    font-size: 2rem;
  }
  .tutors > .tutor_left > h2 {
    background-color: var(--text-black);
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .tutors_content {
    height: 100%;
    width: 70%;
    display: flex;
    /* box-shadow: var(--box-shadow2); */
    position: relative;
    gap: 0.8rem;
    padding: 1rem;
    left: 150%;
    transition: all 0.6s ease;
  }
  .tutors_content_intersect {
    left: 0;
    transition: all 0.6s ease;
    animation: sleekin 1s ease 1s;
  }
  
  .tutor_person {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: .6rem;
    cursor: pointer;
  }
  @keyframes sleekin {
    0%{
      transform: scale(0.1) ;  
    }
    50%{
      transform:scale(0.5) ;
    }
    100%{
      transform:scale(1) ; 
    }
  }
  .person_image {
    height: 48%;
    width: 100%;
  }
  .person1_image {
    background: url(/images/staff3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .person2_image {
    background: url(/images/staff1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .person3_image {
    background: url(/images/staff2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .person_text {
    /* color: var(--main-color); */
    height: calc(100% - 48%);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--background-color);
    gap: 0.3rem;
  }
  .person_text > b,
  .person_text > p {
    color: var(--text-color2);
    font-size: 100%;
    font-family: sans-serif;
  }
  .person_text > h4{
    font-weight: 300;
  }
  
  /* styling the consultant section of the site */
  
  .ceo {
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--main-color);
  }
  .ceo_image {
    height: 70%;
    background: url(/images/consultant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    margin: 0 auto;
    display: block;
    position: relative;
    border-radius: 50%;
    border: 3px solid var(--text-color2);
  }
  .ceo_text {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 70%);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: sans-serif;
    color: var(--background-color);
  }
  .ceo_text > h3 {
    color: var(--text-color2);
  }
  .choose {
    height: 600px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
  }
  .choose_header {
    display: flex;
    height: auto;
    padding: 2rem 0rem;
    width: 100%;
    justify-content: center;
    position: relative;
    /* background-color: red; */
  }
  .choose_header > h1 {
    font-size: 2.4rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .choose > .absolute1 {
    display: block;
    position: absolute;
    height: 100px;
    width: 300px;
    background-color: var(--text-color2);
    top: 0%;
    right: 70%;
    opacity: 0.9;
    transform: skewX(245deg);
  }
  .choose > .absolute4 {
    display: block;
    position: absolute;
    height: 200px;
    width: 330px;
    background-color: var(--text-color2);
    top: 330%;
    right: 87%;
    opacity: 0.9;
    transform: skewy(45deg);
  }
  .choose > .absolute2 {
    display: block;
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: var(--text-color2);
    top: 60%;
    left: 83%;
    opacity: 0.9;
    transform: skewX(145deg);
  }
  .choose_content {
    height: calc(100% - 20%);
    width: 100%;
    display: flex;
    position: relative;
    gap: 1rem;
  }
  .choose_text {
    box-shadow: var(--box-shadow);
    height: 100%;
    width: 40%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
    right: 150%;
    transition: all 1s ease;
  }
  .choose_intersect {
    display: flex;
    transition: all 1s ease;
    right: 0;
  }
  .choose_content > .choose_text > div {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    width: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .choose_content > .choose_text > div > span:first-child {
    background-color: var(--text-color2);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: var(--background-color);
    border-radius: 50%;
  }
  .choose_content > .choose_text > div > span:nth-child(2n) {
    font-size: 0.8rem;
    font-weight: 900;
  }
  .choose_image {
    width: 60%;
    height: 100%;
    background: url(/images/23technologies.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 150%;
    display: block;
    position: relative;
    transition: all 0.6s ease;
    border: 3px solid var(--main-color);
    border-radius: 1rem;
  }
  .choose_image_intersect {
    left: 0;
    transition: all 0.6s ease;
  }
  
  /* the following styling is for the section of the blog posts */
  
  .blog {
    height: 550px;
    width: 100%;
    display: flex;
    position: relative;
    color: var(--background-color);
    background-color: var(--main-color);
    margin: 0.5rem 0rem;
    flex-direction: column;
    padding: 2rem;
  }
  .blog > .blog_header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .blog > .blog_header > h1 {
    font-size: 150%;
    color: var(--text-color2);
  }
  .blog > .blog_main {
    height: calc(100% - 10%);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
  }
  .blog_main_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: var(--background-color);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .blog_main_container:hover,
  .blog_main_container:focus,
  .blog_main_container:active {
    transform: scale(1.01);
    transition: all 0.6s ease;
    margin-bottom: 1.5rem;
  }
  
  .blog_post_image_1 {
    background: url(/images/banner-img.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .blog_post_image_2 {
    background: url(/images/image2.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .blog_post_image_3 {
    background: url(/images/WhatsApp\ Image\ 2025-01-10\ at\ 12.53.07\ PM.jpeg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .blog_post_text {
    height: calc(100% - 50%);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 80%;
    gap: 1rem;
    color: var(--text-black);
    font-family: Tahoma, sans-serif;
  }
  .blog_post_text > h2 {
    font-weight: 500;
  }
  .blog_post_text > h2 span {
    color: var(--text-color2);
    font-size: 1rem;
  }
  .blog_post_text > h3 {
    font-weight: 500;
    color: var(--text-color);
  }
  .read_more {
    color: var(--text-color2);
    font-weight: 300;
  }
  .explore_more {
    width: auto;
    margin: 0 auto;
    position: relative;
    border: none;
    outline: none;
    background-color: var(--text-color2);
    padding: 0.7rem;
    border-radius: 0.3rem;
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }
  .explore_more > a {
    color: var(--background-color);
  }
  .partners {
    height: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 1rem;
    left: 150%;
  }
  .partners_intersect {
    left: 0;
    transition: all 0.6s ease;
  }
  .partners > .partners_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
  }
  .partners > .partners_header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
  }
  .partners_body {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    width: auto;
    margin-bottom: 2rem;
    grid-gap: 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
  }
  .partners_body > div {
    color: var(--text-color2);
  }
  .partners_btn {
    margin: 0 auto;
    padding: 1rem;
    border: none;
    outline: 0;
    background-color: var(--main-color);
    border-radius: 0.4rem;
  }
  .partners_btn > a {
    color: var(--background-color);
  }
  
  /* contact us section styling */
  .contact_us {
    /* background-color: var(--text-color2); */
    box-shadow: var(--box-shadow);
    border-right: 4px solid var(--text-color2);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    font-family: sans-serif;
  }
  .contact_us_header {
    height: 25%;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }
  .contact_us_header > h1 {
    font-size: 2.5rem;
    border-bottom: 5px solid var(--main-color);
    width: fit-content;
    padding: 0.3rem 0rem;
  }
  .contact_us_header > h2 {
    font-size: 0.8rem;
  }
  .contact_us_content {
    height: calc(100% - 25%);
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .contact_us_content > label > input {
    padding: 0.5rem;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-left: 3px solid var(--text-color2);
    border-radius: 0.3rem;
  }
  .contact_us_content > label > input::placeholder {
    color: var(--text-black);
  }
  .contact_us_content > label > input:active::first-letter {
    text-transform: capitalize;
  }
  .contact_us_content > textarea {
    outline: none;
    border: none;
    border-left: 3px solid var(--text-color2);
    padding: 0.5rem;
  }
  .contact_us_content > .message {
    height: 80px;
    width: 40%;
    outline: none;
    border-radius: 2rem;
    border: none;
    background: var(--text-color);
  }
  .contact_us_content > .message > a {
    color: var(--background-color);
  }

  .fixed_bottom_navbar{
    left: 0px !important;
    background-color: #fff !important;
  }

  @media screen and (max-width:750px) {
    #top{
      padding: 1rem 0px  !important;
    }
    main > .main-body{
      padding: 1rem 0px;
    } 
  }

  @media screen and (max-width:1100px) {
    #top{
      margin-left: 0px !important;
      width: 100%;
    }
  }