<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online school </title>
    <link rel="stylesheet" href="/stylesheet/online_school.css">
    <link rel="stylesheet" href="/stylesheet/responsive.css">
</head>
<body>
    <aside>
        <header class="aside_header">
            <h1>
                EDUKLINIK ONLINE SCHOOL
            </h1>
        </header>
        <ul>
            <li>
                <a href="/eduklinikapp/online_school.html">
                   Home
                </a>
                <span>
                    &#10095;
                </span>
            </li>
            <li>
                <a href="/eduklinikapp/online_school/profile.html">
                    My profile
                </a>
                <span>
                    &#10095;
                </span>
            </li>
             <li>
                <a href="">
                    Dashboard
                </a>
                <span>
                    &#10095;
                </span>
            </li>
            <li>
                <a href="/eduklinikapp/online_school/about_onlineschool.html">
                    About us
                </a>
                <span>
                    &#10095;
                </span>
            </li>
            <li>
                <a href="">
                    Contact us
                </a>
                <span>
                    &#10095;
                </span>
            </li>
            <li>
                <a href="/eduklinikapp/online_school/rate_us.html">
                    Rate us
                </a>
                <span>
                    &#10095;
                </span>
            </li>
        </ul>
        <section class="nav_end">
            <div class="log_out">
                <a href="">
                    Log out
                </a>
                <span>
                    &#10095;
                </span>
            </div>
            <div class="Support">
                <a href="">
                    Support
                </a>
                <span>
                    &#10095;
                </span>
            </div>
        </section>
    </aside>
    <main>
        <section class="main-header">
            <div class="menu">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </span>
              <img class="home_image" src="/images/header_logo.png" alt="" width="40px">
            </div>
            <div class="main_header_search">
                <input type="search" placeholder="What are you looking for?...">
                <button class="search">
                    <a href="">
                        Search
                    </a>
                </button>
            </div>
            <div class="main_header_end">
                <div class="activated">
                    <button
                        style=" background-color: var(--main-color); padding: .5rem; border: none; outline: none; border-radius: .2rem; color: var(--text-white);">
                        Activated
                    </button>
                </div>
                <div class="user">
                    <span id="display_profile">
                        <img id="profile_image" class="user_image" src="/images/esther.jpg">
                    </span>
                    <div class="myprofile">
                        <h1>
                            My profile &#10091;
                        </h1>
                        <span class="remove_profile">
                            X
                        </span>
                        <img id="profile_image" src="/images/esther.jpg" alt="Profile image is here" width="100px" height="100px"
                            style="border-radius: 50%;">
                        <div class="profile_info">
                            <span>
                                <b>
                                    Name:
                                </b> Oloruntimileyin Esther
                            </span>
                            <span>
                                <b>
                                    Gender:
                                </b> Female
                            </span>
                            <span>
                                <b>
                                    Age:
                                </b> 23
                            </span>
                            <span>
                                <b>
                                    Discipline:
                                </b> Student
                            </span>
                            <span>
                                <b>
                                    Hobbies:
                                </b> Reading , Dancing and painting
                            </span>
                        </div>
                        <button class="edit_profile">
                            <a href="">
                                Edit profile &#10095;
                            </a>
                        </button>
                    </div>
                </div>
                <div class="notifications">
                    ME
                </div>
            </div>
        </section>
    </main>
    <script src="/eduklinikapp/onlineschool.js"></script>
</body>
</html>


<!-- <div class="tutors_content">
    <div class="tutors_person1 tutor_person">
        <div class="person1_image person_image">
        </div>
        <div class="person_text">
            <b>Adebisi Bilikis</b>
            <p>Board Member</p>
            <h4>
                After vast years in the field of education ,Mrs Balikis is a passion driven and a very
                enthusiastic tutor with proficiency in intense educational delivery.
            </h4>
        </div>
    </div>
    <div class="tutors_person2 tutor_person">
        <div class="person2_image person_image">
        </div>
        <div class="person_text">
            <b>Mrs Saka Ganiyat</b>
            <p>H.O.D Mathematics</p>
            <h4>Mrs saka ganiyat is a self diven enthusiast who leverages her understanding on the vast
                web of education into perfect delivery second to none.
            </h4>
        </div>
    </div>
    <div class="tutors_person3 tutor_person">
        <div class="person3_image person_image">
        </div>
        <div class="person_text">
            <b>Dev Femi Ojo</b>
            <p>H.O.D Programming</p>
            <h4>Having held dinstinctive scores in masters and phd programmes . Dev Femi is an
                enthusiastic and talent driven software expert.

            </h4>
        </div>
    </div>
</div> -->